@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&family=Zen+Dots&display=swap");

* {
  color: black;
}

nav {
  background-color: #eee;
}

nav > ul {
  display: flex;
  flex-direction: row;
  margin-right: 10%;
  top: 0;
}

nav > ul > li {
  display: flex;
  padding-right: 40px;
}

#nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
}

body {
  text-align: center;
  background-color: #eee;
  margin-top: 10%;
}
#header-img {
  position: absolute;
  width: 30%;
  left: 5%;
  top: 20%;
}

#submit {
  margin-top: 20px;
}

.buttons {
  background-color: #f1c40f;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  border: none;
  margin-right: 50px;
}

.buttons:hover {
  background-color: #c09a01;
  cursor: pointer;
  transition: 0.5s;
}

#email {
  padding: 5px;
  width: 40%;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}

.flex-container > a {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;

  text-decoration: none;
}

#main-div,
.flexbox-pricing-boxes {
  text-align: left;
  margin-left: 25%;
  font-family: "Lato";
}
#video {
  margin-top: 50px;
}

#flexbox-pricing {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.flexbox-pricing-boxes {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 5px;
  width: 200px;
  height: 250px;
  align-items: center; /*OMG this is for aligning the items to the center O_O*/
}

section > div > div {
  background-color: #ddd;
  width: 90%;
  text-align: center;
  padding: 5%;
}

.dollars {
  text-align: center;
  width: 100px;
}

.btn-footer {
  position: absolute;
  margin-top: 100%;
  margin-left: 5em;
  height: 30px;
  width: 70px;
}

.flexbox-pricing-boxes > p {
  text-align: center;
  margin: -5%;
}

/***********************/

li,
a {
  list-style: none;
  text-decoration-line: none;
}

@media (max-width: 400px) {
  body {
    color: #f1c40f;
  }
}

footer {
  display: flex;
  background-color: rgb(210, 210, 210);
  justify-content: flex-end;
}

footer > ul {
  position: absolute;
  display: flex;
  flex-direction: row;
}

footer > ul > li {
  padding: 10px;
  font-size: 15px;
  margin-top: 2%;
  font-family: "Lato";
}

footer > span {
  display: flex;
  height: 20px;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 55px;
}
